.container {
  display: flex;
  flex-direction:column;
  padding-top: 5px;
  backdrop-filter: blur(2px);
  
}

.img {
  margin-top: 1%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  
  & img {
    position: relative;
    display: flex;
    width: 35%;
    margin-bottom: 3%;
    justify-content: center;
    align-items: center;
  }
  
  .imgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    left: -7%;
    z-index: -1;

  }
  & .links {
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    padding: 5px 20px;
    background: linear-gradient(10deg, #9ef87f, #d5e3c8);
    color: black;
    border-radius: 5px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    
    &:hover {
      background: rgb(115, 252, 91);
      color: black;
      user-select: none;
    }
  }
  
  & .NavLink {
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 1.5%;
    

  }
  
  & .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  & .logout {
    padding: 5px 20px;
    background: linear-gradient(10deg, #9ef87f, #d5e3c8);
    color: black;
    border-radius: 5px;
    margin: 0 20px;
    user-select: none;
    cursor: pointer;
    
      &:hover {
          background: red;
          color: rgb(255, 255, 255);
        }
      
  }
}
