.container {
  z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    & .form {
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      height: 60%;
      padding: 3% 5% 5% 5%;
      border: 1px solid #ccc;
      border-radius: 4px;

      & .loginImg {
        position: absolute;
        display: flex;
        width: 80%;
        height: 45%;
        border-radius: 50%;
        /* margin-right: 20px; */
      }


      & .info {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        top: 30%;
        align-content: center;


        & .title {
          color: white
        }

        & .label {
          width: 100%;
        }
    
        & input {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
    
        & p {
          margin-top: 5px;
          margin-bottom: 10px;
          color: red;
          font-size: 14px;
        }
    
        & .button {
          position: relative;
          padding: 10px 20px;
          background-color: #29aa89;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
    
        & button:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
    }
  }
  

  
  